* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #00A2FA;
    padding-top: 40px;

}


#header-logo {
    padding: 10px 0px;
}

#logo {
    height: 100px;
    vertical-align: middle;
}

#logo-text {
    color: black;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
}

.border-radius {
    border-radius: 5px;
}

#task {
    padding: 5px;
    background-color: #00A2FA;
    margin-left: 30px;

}

#section {
    padding: 5px;
    background-color: white;

}

.check::before {
    content: '\2714';
}

.testo1 {
    font-size: 20px;
    font-weight: bold;
}

.todo {
    margin: 30px;
}

.bottoni {
    border-bottom: 2px solid #F4F7F8;
    padding: 10px;
}

#check-verde {
    border-style:solid;
    border-color: #11C0A3;
    border-width: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

.testo {
    line-height: 30px;
}

#editorial {
    padding: 5px 10px;
    background-color: #00A1E6;
    margin: 20px;
    border-radius: 30px;
    border-color: #ffffff;
    color: white;


}

#Q1Goals {
    padding: 5px 10px;
    background-color: #9F52DC;
    margin: 20px;
    border-radius: 30px;
    border-color: #9F52DC;
    color: white;

}

#check-rossa {
    border-style:solid;
    border-color: #FF000E;
    border-width: 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
