* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #00A2FA;
    padding-top: 40px;
    height: 800px
}


#header-logo {
    padding: 10px 0px;
}

#logo {
    height: 100px;
    vertical-align: middle;
}

#logo-text {
    color: black;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

.container {
    width: 60%;
    margin: auto;
    background-color: white;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;

}

#task {
    padding: 5px;
    background-color: #00A2FA;
    margin-left: 30px;
    border-width: thin;
    border-color: #00A2FA;
    border-radius: 5px;

}

#section {
    padding: 5px;
    background-color: white;
    border-width: thin;
    border-color: #BCC4C9;
    border-radius: 5px;


}

.check::before {
    content: '\2714';
}

.testo1 {
    font-size: 20px;
    font-weight: bold;
}

.todo {
    margin: 30px;
}

.bottoni {
    border-bottom: 1px solid #BCC4C9;
    padding-bottom: 10px;
    padding-top: 10px;

}

#check-verde {
    border-style: solid;
    border-color: #11C0A3;
    border-width: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    color: #11C0A3;
}

#editorial {
    padding: 5px 10px;
    background-color: #00A1E6;
    border-width: 0px;
    margin: 20px;
    border-radius: 30px;
    color: white;
}

#Q1Goals {
    padding: 5px 10px;
    background-color: #9F52DC;
    margin: 20px;
    border-radius: 30px;
    border-width: 0px;
    color: white;

}

#Recruiting {
    padding: 5px 10px;
    background-color: #11C0A3;
    margin: 20px;
    border-radius: 30px;
    border-width: 0px;
    color: white;

}

#check-rossa {
    border-style: solid;
    border-color: #FF000E;
    border-width: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    color: #FF000E;
    ;
}